body {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.nav {
    width: 100%;
    height: 130px;
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.nav-top {
    height: 10%;
}

.nav-above {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.nav-above h1 {
    cursor: pointer;
}

.nav-above-left {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-above-left-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-above-left-left p {
    font-family: Montserrat;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.swedish {
    height: 100%;
    width: 80px;
}

.swedish p {
    font-weight: 300;
}

.swedish p:hover {
    font-weight: 700;
    cursor: pointer;
}

.english {
    height: 100%;
    width: 80px;
}

.english p {
    font-weight: 700;
}

.english p:hover {
    font-weight: 700;
    cursor: pointer;
}

.nav-above-left-right {
    width: 50%;
    height: 100%;
}

.nav-above-center {
    width: 33%;
    height: 100%;
}

.nav-above-center-logo h1 {
    font-family: 'Allerta Stencil', sans-serif;
    height: 10px;
    color: #ffbd4a;
}

.nav-above-right {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-above-right-left {
    width: 50%;
    height: 100%;
}

.nav-above-right-right {
    width: 50%;
    height: 100%;
}

.nav-above-right-icons {
    height: 10px;
}

.nav-above-right-icons img {
    height: 20px;
    padding: 5px;
    margin: 5px;
}

.nav-below {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.nav-below a {
    font-family: Montserrat;
    font-weight: 300;
}

.nav-below a:hover {
    font-weight: 700;
    cursor: pointer;
}

.nav-below-left {
    width: 200px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-below-center {
    width: 200px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-below-right {
    width: 200px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    font-family: Montserrat;
    font-weight: 700;
}

.content p {
    font-family: Montserrat;
    font-weight: 300;
}

#content-white {
    width: 100%;
    height: 20%;

}

#content-top {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 90%;
    background-image: url(11.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
}

.content-top-content {
    padding-top: 130px;
    width: 100%;
}

.content-top-title {
    margin-top: 10%;
    margin-left: 8%;
    font-size: 50px;
    line-height: 1.2;
}

.content-top-text {
    background-color: rgba(255,189,74,0.8);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.content-top-text p {
    font-weight: 300;
    width: 80%;
    margin-left: 8%;
    bottom: 0;
}

.content-top-text input {
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 16px;
    width: 200px;
}

.content-top-text textarea {
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 16px;
    width: 200px;
}

#fieldEmailone {
    width: 500px;
    padding: 10px;
}

.content-top-text button {
    border: 1px solid black;
    font-family: Montserrat;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
}

.content-top-text button:hover {
    color: black;
    background-color: #ffbd4a;
    cursor: pointer;
}

#content-one {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 90%;
}

.content-one-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-one-img {
    width: 50%;
    min-height: 100%;
    background-image: url(Consultation.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
}

.content-one-font {
    width: 50%;
    height: 100%;
}

.content-one-title {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.content-one-text {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#content-two {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    width: 90%;
}

.content-two-content {
    width: 100%;
    display: flex;
    flex-direction: row
}

.content-two-img {
    width: 50%;
    min-height: 100%;
    background-image: url(logo-grey-background.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.content-two-font {
    width: 50%;
    height: 100%;
}

.content-two-title {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.content-two-text {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#content-three {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    width: 90%;
}

.content-three-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-three-font {
    width: 50%;
    height: 100%;
}

.content-three-title {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.content-three-text {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.content-three-img {
    width: 50%;
    min-height: 100%;
    background-color: rgba(255,189,74,0.8);
}

.content-three-img input {
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 16px;
    width: 200px;
    margin-left: 10%;
}

.content-three-img textarea {
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 16px;
    width: 200px;
    margin-left: 10%;
}

label {
    margin-left: 10%;
}

#fieldName {
    width: 500px;
    padding: 10px;
}

#fieldEmail {
    width: 500px;
    padding: 10px;
}

#fieldjyulldr {
    width: 500px;
    padding: 10px;
    word-break: break-word;
}

.content-three-img button {
    border: 1px solid black;
    font-family: Montserrat;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    margin-left: 10%;
}

.content-three-img button:hover {
    color: black;
    background-color: #ffbd4a;
    cursor: pointer;
}

.content-footer {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    background-color: #3c3c3b;
    width: 90%;
}

.content-footer-content {
    width: 60%;
    margin-left: 15%;
}

.content-footer-title {
    margin-top: 10%;
}

.content-footer-title a {
    text-decoration: none;
    color: white;
}

.content-footer-title a:hover {
    text-decoration: none;
    color: white;
}

.content-footer-text {
    margin-top: 5%;
    margin-bottom: 10%;
}

.content-footer-text a {
    text-decoration: none;
    color: white;
}

.content-footer-text a:hover {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 1300px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    #fieldName {
        width: 400px;
    }
    
    #fieldEmail {
        width: 400px;
    }
    
    #fieldjyulldr {
        width: 400px;
    }
    
}

@media only screen and (max-width: 1050px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    #fieldName {
        width: 300px;
    }
    
    #fieldEmail {
        width: 300px;
    }
    
    #fieldjyulldr {
        width: 300px;
    }
    
}

@media only screen and (max-width: 950px) {
    
    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-one-img {
        width: 20%;
    }

    .content-one-font {
        width: 80%;
    }
    
    .content-one-title {
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .content-one-text {
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .content-two-img {
        width: 40%;
    }

    .content-two-font {
        width: 60%;
    }
    
    .content-two-title {
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .content-two-text {
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .content-three-content {
        display: flex;
        flex-direction: column;
    }

    .content-three-font {
        width: 100%;
    }

    .content-three-title {
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .content-three-text {
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .content-three-img {
        width: 100%;
        min-height: 100%;
        background-color: rgba(255,189,74,0.8);
    }
    
    .content-footer-title {
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .content-footer-text {
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    #fieldName {
        width: 500px;
    }
    
    #fieldEmail {
        width: 500px;
    }
    
    #fieldjyulldr {
        width: 500px;
    }
    
}

@media only screen and (max-width: 820px) {
    
    
    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-top-text button {
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 730px) {
    
    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-top-title {
        margin-left: 8%;
    }
    
    #fieldEmailone {
        width: 300px;
    }
    
}

@media only screen and (max-width: 660px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-one-text {
        text-align: left;
    }
    
    .content-two-text {
        text-align: left;
    }
    
    .content-three-text {
        text-align: left;
    }
    
    #fieldName {
        width: 400px;
    }
    
    #fieldEmail {
        width: 400px;
    }
    
    #fieldjyulldr {
        width: 400px;
    }
    
}

@media only screen and (max-width: 540px) {
    
    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    #fieldEmailone {
        width: 200px;
    }
    
    #fieldName {
        width: 300px;
    }
    
    #fieldEmail {
        width: 300px;
    }
    
    #fieldjyulldr {
        width: 300px;
    }
    
    .content-one-content {
        display: flex;
        flex-direction: column;
    }
    
    .content-one-font {
        width: 100%;
    }
    
    .content-one-img {
        width: 100%;
        height: 20%;
    }
    
    .content-two-img {
        display: none;
    }
    
    .content-two-font {
        width: 100%;
    }
    
}

@media only screen and (max-width: 480px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-top-title {
        font-size: 40px;
    }

@media only screen and (max-width: 450px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .nav-above-right {
        width: 0%;
        visibility: hidden;
    }
    
    .nav-above-left {
        width: 0%;
        visibility: hidden;
    }
    
    .nav-above-center {
        width: 100%;
    }

}

@media only screen and (max-width: 410px) {
    
    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    #fieldName {
        width: 200px;
    }
    
    #fieldEmail {
        width: 200px;
    }
    
    #fieldjyulldr {
        width: 200px;
    }
    
}

@media only screen and (max-width: 360px) {

    #content-top {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    
    .content-top-title {
        font-size: 30px;
    }

}